<html>
<head>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>

	<h1>TOP</h1>
	<h2>app1</h2>
	<div id="app1">
		{{ message }}

		<table>
			<tr>
				<th v-for="column in columns" @click="sort(column)">{{ column }}</th>
			</tr>
			<tr v-for="item in newdata">
				<td v-for="val in item">{{ val }}</td>
			</tr>
		</table>
	</div>

	<script>

var data = [
	{id: 'id1', name:'name1', tag:'tag1'},
	{id: 'id2', name:'name2', tag:'tag2'},
	{id: 'id3', name:'name3', tag:'tag3'},
	{id: 'id4', name:'name4', tag:'tag4'},
	{id: 'id5', name:'name5', tag:'tag5'},
];

var app1 = new Vue({
	el: '#app1',
	data: {
		message: 'Hello Vue!',
		sortkey: "",
		sortorders: {},
		columns: [],
		data: data
	},
	created: function() {
		var columns = [];
		Object.keys(this.data[0]).forEach(function(key){
			columns.push(key);
		});
		this.columns = columns;
		var sortorders = {}
		columns.forEach(function(key) {
			sortorders[key] = 1;
		});
		this.sortorders = sortorders;
	},
	computed: {
		newdata: function() {
			var key = this.sortkey;
			var data = this.data;
			var order = this.sortorders[key];
			if(key){
				data = data.slice().sort(function (a, b) {
					a = a[key];
					b = b[key];
					return (a === b ? 0 : a > b ? 1 : -1) * order;
				});
			}
			return data;
		}
	},
	methods: {
		sort: function(key) {
			console.log(key);
			this.sortkey = key;
			this.sortorders[key] *= -1;
		}
	}
});
	</script>
</body>
</html>